


<div class="menu-lateral">
  <div class="menu">
    <a href="/home" class="menu-btn">Inicio</a>
    <ul class="menu-items">
      <li><a href="#">Registros</a></li>
      <li><a href="/camara">Tiempo Real</a></li>
      <li><a href="#">Perfil</a></li>
      <li><a href="#">Configuracion</a></li> 
    </ul>
  </div>

  <div class="cerrar-sesion">
      <li><a href="/inicio-sesion">Cerrar Sesion </a></li>
  </div>
</div>

<div class="camera-interface">
    <div class="display-box">
        <img src="https://i.ibb.co/wS6SmTR/youtube.png" alt="youtube" >
      <h1>Cámara 1</h1>
    </div>
    <div class="button-group">
      <button class="btn">Grabar</button>
      <button class="btn">Tomar Captura</button>
    </div>
  </div>
  